html{
    box-sizing: border-box;
    overflow-x: hidden;
}
*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
.navbar{
    background-color: #f6404f;
    height: 200px;
}
.logo{
    width: 10%;
    box-sizing: content-box;
    position: relative;
    bottom: -30px;
    right: -50px;
}
a{
    text-decoration: none;
    color: white;
}
.home{
    position: relative;
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    z-index: 200;
    right: -700;
    bottom: 0;
    font-family: DM Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.course{
    position: relative;
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    z-index: 200;
    right: -750;
    bottom: 0;
    font-family: DM Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.login{
    position: relative;
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    z-index: 200;
    right: -800;
    bottom: 0;
    font-family: DM Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.myButton {
    position: relative;
    right: -830;
    bottom: 0;
	background-color:transparent;
	border-radius:7px;
	border:3px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: DM Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size:20px;
	padding: 9px 20px;
	text-decoration:none;
}
.myButton:hover {
	background-color:transparent;
}
.hal1{
    background-color: #f6404f;
    height: 494px;
}
.haltext{
    color: white;
    position: relative;
    top: -400;
    right: -60;
    font-weight: 500;
    letter-spacing: -0.02em;
    font-size: 56px;
    font-family: DM Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.haltext2{
    color: white;
    position: relative;
    top: -400;
    right: -60;
    font-weight: 500;
    letter-spacing: -0.02em;
    font-size: 56px;
    font-family: DM Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.haltext3{
    position: relative;
    top: -410;
    right: -60;
    font-weight: 500;
    letter-spacing: -0.02em;
    font-size: 56px;
    font-family: DM Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    color: yellow;
}
.pic{
    width: 30%;
    box-sizing: content-box;
    position: relative;
    bottom: -10;
    right: -700;
}
.loginbutton{
    position: relative;
    top: -300;
    right: -60;
	background-color:transparent;
	border-radius:7px;
	border:3px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: DM Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size:20px;
	padding: 9px 20px;
	text-decoration:none;
}
.hal2{
    background-color: #faf3e3;
    height: 690px;
}
.moreinfo{
    position: relative;
    top: -150;
    right: -60;
	background-color:transparent;
	border-radius:7px;
	border:3px solid black;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family: DM Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size:20px;
	padding: 9px 20px;
	text-decoration:none;
}
.haltext4{
    color: black;
    position: relative;
    top: -250;
    right: -60;
    font-weight: 500;
    letter-spacing: -0.02em;
    font-size: 42px;
    font-family: DM Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.haltext5{
    color: black;
    position: relative;
    top: -250;
    right: -60;
    font-weight: 500;
    letter-spacing: -0.02em;
    font-size: 42px;
    font-family: DM Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.haltext6{
    position: relative;
    top: -250;
    right: -60;
    font-weight: 500;
    letter-spacing: -0.02em;
    font-size: 42px;
    font-family: DM Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    color: black;
}
.haltext7{
    color: black;
    position: relative;
    top: -245;
    right: -60;
    font-weight: 500;
    letter-spacing: -0.02em;
    font-size: 42px;
    font-family: DM Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.haltext8{
    position: relative;
    top: -250;
    right: -60;
    font-weight: 500;
    letter-spacing: -0.02em;
    font-size: 42px;
    font-family: DM Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    color: black;
}
.pic2{
    width: 30%;
    box-sizing: content-box;
    position: relative;
    bottom: -100;
    right: -800;
}
.hal3{
    background-color: #30bcc9;
    height: 690px;
}
.haltext9{
    color: black;
    position: relative;
    top: -150;
    right: -60;
    font-weight: 500;
    letter-spacing: -0.02em;
    font-size: 42px;
    font-family: DM Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.haltext10{
    position: relative;
    top: -150;
    right: -60;
    font-weight: 500;
    letter-spacing: -0.02em;
    font-size: 42px;
    font-family: DM Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    color: black;
}
.haltext11{
    color: black;
    position: relative;
    top: -145;
    right: -60;
    font-weight: 500;
    letter-spacing: -0.02em;
    font-size: 42px;
    font-family: DM Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.haltext12{
    position: relative;
    top: -150;
    right: -60;
    font-weight: 500;
    letter-spacing: -0.02em;
    font-size: 42px;
    font-family: DM Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    color: black;
}
.moreinfo2{
    position: relative;
    top: -100;
    right: -60;
	background-color:transparent;
	border-radius:7px;
	border:3px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: DM Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size:20px;
	padding: 9px 20px;
	text-decoration:none;
}
.pic3{
    width: 30%;
    box-sizing: content-box;
    position: relative;
    bottom: -150;
    right: -800;
}
.hal4{
    background-color: rgb(255,224,27);
    height: 690px;
}
.hal5{
    background-color: #f340af;
    height: 690px;
}
.haltext13{
    position: relative;
    text-align: center;
    bottom: -50;
    font-weight: 500;
    letter-spacing: -0.02em;
    font-size: 56px;
    font-family: DM Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    color:black;
}
.line{
    width:65%;
    text-align:center;
    margin:0 auto;
    bottom: -50;
}
.card{
    background-color: #f6404f;
    height: 450px;
    width: 300px;
    position: absolute;
    top: 2500;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.650);
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
}
.card-profile{
    height: 30%;
    width: 100%;
    background-image: linear-gradient(
        45deg,
        rgb(255,224,27),
        white
    );
    position: absolute;
    bottom: 0;
    border-radius: 140px 140px 0 0;
}
.accent{
    width: 30%;
    height: 5%;
    position: relative;
    top: -380;
    right: -50px;
}
.card-img{
    width: 25%;
    height:60%;
    border-radius: 50%;
    border: 4px solid white;
    box-sizing: content-box;
    position: relative;
    bottom: 30;
    left: -50;
}
.card-name{
    position: relative;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    bottom: 30px;
}
.card-info{
    position: relative;
    color: black;
    font-weight: 550;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    bottom: 25px;
}
.card-text{
    padding: 0 10px;
    position: absolute;
    top: 75px;
    color: white;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
.card2{
    background-color: #f6404f;
    height: 450px;
    width: 300px;
    position: absolute;
    top: 2500;
    left: 25%;
    transform: translate(-50%,-50%);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.650);
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
}
.card-profile2{
    height: 30%;
    width: 100%;
    background-image: linear-gradient(
        45deg,
        rgb(255,224,27),
        white
    );
    position: absolute;
    bottom: 0;
    border-radius: 140px 140px 0 0;
}
.accent2{
    width: 30%;
    height: 5%;
    position: relative;
    top: -380;
    right: -50px;
}
.card-img2{
    width: 25%;
    height:60%;
    border-radius: 50%;
    border: 4px solid white;
    box-sizing: content-box;
    position: relative;
    bottom: 30;
    left: -50;
}
.card-name2{
    position: relative;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    bottom: 30px;
}
.card-info2{
    position: relative;
    color: black;
    font-weight: 550;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    bottom: 25px;
}
.card-text2{
    padding: 0 10px;
    position: absolute;
    top: 75px;
    color: white;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
.card3{
    background-color: #f6404f;
    height: 450px;
    width: 300px;
    position: absolute;
    top: 2500;
    left: 75%;
    transform: translate(-50%,-50%);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.650);
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
}
.card-profile3{
    height: 30%;
    width: 100%;
    background-image: linear-gradient(
        45deg,
        rgb(255,224,27),
        white
    );
    position: absolute;
    bottom: 0;
    border-radius: 140px 140px 0 0;
}
.accent3{
    width: 30%;
    height: 5%;
    position: relative;
    top: -380;
    right: -50px;
}
.card-img3{
    width: 25%;
    height:60%;
    border-radius: 50%;
    border: 4px solid white;
    box-sizing: content-box;
    position: relative;
    bottom: 30;
    left: -50;
}
.card-name3{
    position: relative;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    bottom: 30px;
}
.card-info3{
    position: relative;
    color: black;
    font-weight: 550;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    bottom: 25px;
}
.card-text3{
    padding: 0 10px;
    position: absolute;
    top: 75px;
    color: white;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
.img-foot{
    width: 30%;
    position: absolute;
    left: 65%;
}
.foot-text1{
    color: white;
    position: absolute;
    left:100px;
    top: 410%;
    font-weight: 500;
    font-family: DM Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.foot-text2{
    color: white;
    position: absolute;
    left:500px;
    top: 410%;
    font-weight: 500;
    font-family: DM Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}