html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    box-sizing: border-box;
}
*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
.navbar{
    background-color: #f6404f;
    height: 200px;
}
.logo{
    width: 10%;
    box-sizing: content-box;
    position: relative;
    bottom: -30;
    right: -40;
}
a{
    text-decoration: none;
    color: white;
}
.home{
    position: relative;
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    z-index: 200;
    right: -700;
    bottom: 0;
    font-family: DM Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.course{
    position: relative;
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    z-index: 200;
    right: -750;
    bottom: 0;
    font-family: DM Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.login{
    position: relative;
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    z-index: 200;
    right: -800;
    bottom: 0;
    font-family: DM Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.myButton {
    position: relative;
    right: -830;
    bottom: 0;
	background-color:transparent;
	border-radius:7px;
	border:3px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: DM Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size:20px;
	padding: 9px 20px;
	text-decoration:none;
}
.myButton:hover {
	background-color:transparent;
}
.hal1{
    background-color: white;
    height: 494px;
}
.haltext{
    color: black;
    position: relative;
    top: -250;
    right: -60;
    font-weight: 500;
    letter-spacing: -0.02em;
    font-size: 25px;
    font-family: DM Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.haltext2{
    color:black;
    position: relative;
    top: -250;
    right: -60;
    font-weight: 500;
    letter-spacing: -0.02em;
    font-size: 25px;
    font-family: DM Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.haltext3{
    position: relative;
    top: -250;
    right: -60;
    font-weight: 500;
    letter-spacing: -0.02em;
    font-size: 25px;
    font-family: DM Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    color: black;
}
.haltext4{
    position: relative;
    top: -250;
    right: -60;
    font-weight: 500;
    letter-spacing: -0.02em;
    font-size: 25px;
    font-family: DM Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    color: black;
}
.pic{
    width: 30%;
    box-sizing: content-box;
    position: relative;
    bottom: -50;
    right: -800;
}
.vl {
    border-left: 6px solid black;
    height: 300px;
    position: relative;
    left: 53%;
    margin-left: -3px;
    top: -90%;
}
.hal2{
    background-color: red;
    height: 494px;
}